@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Pixelify+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  
? npx tailwindcss -i ./src/styles/tailwind.css -o ./src/styles/output.css --watch 
*/

* {
  font-family: "DM Mono";
}

#logo {
  font-family: "Pixelify Sans";
}
.ps_font {
  font-family: "Pixelify Sans";
}

@layer {
  .bg-main-text-main {
    @apply bg-light-main text-light-main dark:bg-dark-main dark:text-dark-main;
  }
  .bg-main-text-default {
    @apply bg-light-main text-light-default dark:bg-dark-main dark:text-dark-default;
  }
  .bg-all {
    @apply bg-light-all text-light-default dark:bg-dark-all dark:text-dark-default;
  }
  .bg-def {
    @apply bg-light-default text-light-default dark:bg-dark-default dark:text-dark-default;
  }
}

/* 
? Color Pal 1
 theme: {
    extend: {
      backgroundColor: {
        dark: {
          "all": "#161823",
          "main": "#11131d",
          "default": "#1a1d28",
        },
        light: {
          "all": "#f3f4f6",
          "main": "#e5e7eb",
          "default": "#d1d5db",
        },
      },
      textColor: {
        dark: {
          "default": "#81869b",
          "main": "#ffffff",
        },
        light: {
          "default": "#4b5563",
          "main": "#111827",
        },
      },
      colors: {
        "primary": "#615dfa",
        "secondary": "#22d1e2",
      },
    },
    variants: {
      extend: {
        backgroundColor: ['dark', 'light'],
        textColor: ['dark', 'light'],
        colors: ['primary', 'secondary'],
      },
    },
  },
  
*/
