@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=JetBrains+Mono:wght@100;200;400;500;700;800&family=Pixelify+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  
? npx tailwindcss -i ./src/styles/tailwind.css -o ./src/styles/output.css --watch 
*/

* {
  font-family: "JetBrains Mono", monospace;
}

#logo {
  font-family: "Space Horizon";
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  line-height: 1.8;
  -webkit-overflow-scrolling: touch;
  transition: all 0.05s ease-in;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

@layer {
  .bg-main-text-main {
    @apply bg-light-main dark:bg-dark-main text-light-main  dark:text-dark-main;
  }
  .bg-main-text-default {
    @apply bg-light-main dark:bg-dark-main text-light-default dark:text-dark-default;
  }
  .bg-def {
    @apply bg-light-default dark:bg-dark-default text-light-default  dark:text-dark-default;
  }
}
